pipeline/Dynamic_Staging_pl.json
{
	"name": "Dynamic_Staging_pl",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Sname",
						"value": "dbo"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT \n    t.name AS table_name, \n    s.name AS schema_name\nFROM \n    sys.tables t\nJOIN \n    sys.schemas s\nON \n    t.schema_id = s.schema_id\nWHERE \n    type = 'U'\n    AND s.name = '@{pipeline().parameters.Sname}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsazuresqldbcity",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "dbo",
							"Table_Name": "city"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Source2_Parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dsazuresqldbcity",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().schema_name",
											"type": "Expression"
										},
										"Table_Name": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Parquet_Staging",
									"type": "DatasetReference",
									"parameters": {
										"Directory": "na",
										"FileName": {
											"value": "@concat(\r\n    item().table_name,'.parquet'\r\n)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Parquet2StageTable",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Source2_Parquet",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"additionalColumns": [
										{
											"name": "DI_JOB_ID",
											"value": {
												"value": "@pipeline().parameters.JobID",
												"type": "Expression"
											}
										},
										{
											"name": "DI_CREATED_DT",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ls_stageblobstoragedamg7370",
										"type": "LinkedServiceReference"
									},
									"path": "snowstaging"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "License_Issue_Date",
												"type": "String"
											},
											"sink": {
												"name": "LICENSE_ISSUE_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "License_Number",
												"type": "String"
											},
											"sink": {
												"name": "LICENSE_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Animal's_Name",
												"type": "String"
											},
											"sink": {
												"name": "ANIMAL_S_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Species",
												"type": "String"
											},
											"sink": {
												"name": "SPECIES",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Primary_Breed",
												"type": "String"
											},
											"sink": {
												"name": "PRIMARY_BREED",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Secondary_Breed",
												"type": "String"
											},
											"sink": {
												"name": "SECONDARY_BREED",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ZIP_Code",
												"type": "String"
											},
											"sink": {
												"name": "ZIP_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DI_CREATED_DT",
												"type": "String"
											},
											"sink": {
												"name": "DI_CREATED_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DI_JOB_ID",
												"type": "String"
											},
											"sink": {
												"name": "DI_JOB_ID",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_write_Parquet",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SnowflakeTable1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Sname": {
				"type": "string",
				"defaultValue": "dbo"
			}
		},
		"variables": {
			"Tname": {
				"type": "String"
			}
		},
		"annotations": []
	}
}